


<% if(path == "/register"){ %>
    <form action="/store" method="post" class='form'>

        <h1>Registrate</h1>
      
        <fieldset>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" value="">
          <label for="name">Apellido:</label>
          <input type="text" id="lastpass" name="lastName" value="">
      
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="email" value="">
          <label for="phone">Teléfono:</label>
          <input type="phone" id="phone" name="phone" value="">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" value="">
          <label for="gender">Género:</label>
  <select id="gender" name="gender" value="">
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
                <option value="unknown">Prefiero no elegir</option>
                
            
            </select>
            <label for="date">Fecha de nacimiento:</label>
            <input type="date" id="date" name="birthday" value="">
          
        </fieldset>
      
        
        
        <button type="submit">Enviar</button>
      
      </form>
  <% } %>
  <% if(path == "/login"){ %>
    <form action="/login/submit" method="post" class='form'>

        <h1>Iniciá sesión</h1>
      
        <fieldset>

          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email">
 
          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password">
          
        </fieldset>
      
        
        
        <button type="submit"><a href="/profile">Ingresá</a></button>
      
      </form>
  <% } %> 
  <% if(path == "/product/add"){ %>
    <form action="/profile" method="post" class='form'>

        <h1>Agregá tu producto</h1>
      
        <fieldset>

          <label for="name">Nombre del producto:</label>
          <input type="text" id="name" name="product_name">
 
          <label for="description">Descripción del producto:</label>
          <textarea id="description" name="product_description"></textarea>
          <label for="file">Foto</label>
          <input type="file" id="file" name="product_file">
          
          
        </fieldset>
      
        
        
        <button type="submit">Enviar</button>
      
      </form>
      
  <% } %> 
  <% if(path == "/profile/edit-email"){ %>
      <   <form action="/profile" method="post" class='form'>

        <h1>Cambiá tu mail</h1>
      
        <fieldset>

          <label for="mail">Nuevo mail:</label>
          <input type="email" id="mail" name="user_email">
 
          
          
        </fieldset>
      
        
        
        <button type="submit">Enviar</button>
      
      </form>
  <% } %>
  <% if(path == "/profile/edit-password"){ %>
    <   <form action="/profile" method="post" class='form'>

      <h1>Cambiá tu mail</h1>
    
      <fieldset>

        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="user_password">

        
        
      </fieldset>
    
      
      
      <button type="submit">Enviar</button>
    
    </form>
<% } %>


