<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %> 
<body>
	<%- include('./partials/header.ejs') %> 
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/1.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>TEG</h2>
							<p>TEG o Plan Táctico y Estratégico de la Guerra es un juego de mesa, lanzado originalmente en marzo de 1976. Plantea un conflicto bélico que ocurre sobre un planisferio dividido en 50 países, planteados en tarjetas, elegidos al azar. </p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/2.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Monopoly</h2>
							<p>Monopoly es un juego de mesa basado en el intercambio y la compraventa de bienes raíces. Monopoly es uno de los juegos de mesa comerciales más vendidos del mundo.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/3.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Hasta Donde Puedas</h2>
							<p>HDP es el juego que va a responder a la pregunta: ¿Cuál es el más zarpado entre todos tus amigos? Un jugador (el HDP) lee una carta de pregunta (negra) y los demás responden con una de las cartas de su mano (blanca). La repuesta que le resulte más graciosa o zarpada al HD, gana un punto para el que la jugó.</p>
							<p>Comentarios: 1</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/4.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Catán</h2>
							<p>El objetivo del juego es construir pueblos, ciudades y caminos sobre un tablero que es distinto cada vez, mientras se van acumulando varios tipos de cartas. Todos estos elementos proporcionan distintas puntuaciones, ganando la partida el primer jugador que llega a los diez puntos. Existen varias expansiones del juego.</p>
							<p>Comentarios: 1</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/5.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Clue</h2>
							<p>Cluedo es un juego de mesa de detectives y misterio.El objetivo del juego es descubrir quién asesinó al Dr. Black, con qué arma, y en qué habitación se cometió el crimen.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/6.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Twister</h2>
							<p>El Twister es un clásico de los juegos en grupo ya que nos permite echarnos unas buenas risas mientras intentamos hacer posiciones de contorsionista con nuestro cuerpo. El objetivo del juego es conseguir poner el pie y la mano en el lugar indicado sin dejar que el cuerpo toque el suelo.</p>
							<p>Comentarios: 4</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/7.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dables</h2>
							<p>Dables es un juego para divertirse de a dos o en grupo y que pone a prueba tu velocidad y agilidad. Se trata de encontrar la coincidencia entre las imágenes de tu naipe y una de las de la carta del centro.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/8.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>VIRUS!</h2>
							<p>VIRUS! es un juego para 2 a 6 jugadores, en el que tendrás que construir un cuerpo humano mientras evitas que tus rivales infecten, destruyan o roben tus órganos. La caja contiene un mazo de 68 cartas divididas en los siguientes tipos.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->

	<%- include('./partials/footer.ejs') %> 

</body>	
</html>