<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
	
	<%- include('./partials/header.ejs') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="row">
				<div class="col-12">
					
					<%- include('./partials/form.ejs') %> 
				</div>
			</div>
			



	<%- include('./partials/footer.ejs') %> 
</body>

</html>