<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <%- include('./partials/head.ejs') %> 
<body>
	
	<% if(locals.loggedIn == null){ %>
	<%- include('./partials/header.ejs') %> 
	<% } else{ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } %>

    <h1> Usted se ha deslogueado con éxito.</h1>
    

    <a href="/"><p>Volver a la página principal.</p></a>
    
</body>
</html>